#signup-form-container {
    border-radius: 4px;
    width:350px;
    min-height:200px;
    padding:20px;

    }

    #signup-header{

        border-bottom:4px solid teal;
        margin-bottom:20px;
        margin-left:-20px;
        margin-right:-20px;
        margin-top: -20px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    #signup-header h2{
        font-family: Arial Rounded MT Bold;
    }

    #signup-form{
        display:flex;
        flex-direction: column;
        width:300px;
        align-items: center;
        justify-content: center;
        margin:auto;
        margin-top:-10px;

    }
    #signup-form *{
        margin:3px;
    }

    #signup-form button{
        margin:5px;
    width:160px;
    height:35px

    }

    .signup-input{
        margin:5px;
            background-color: rgb(188, 220, 124, .4);
            border: none;
            padding: 5px;
            border-radius: 4px;
            color: rgba(45, 46, 47, 1);


        }

    .signup-input:focus {
            background-color: rgb(188, 220, 124, .7);
            outline: solid 2px rgba(0, 128, 128, .8);

        }

    #signup-input-container{
    display:flex;
    flex-direction: column;

    }

    .signup-label{
        display:flex;
        justify-content: right;
        align-items: center;
    }

    #signup-btn-container{
    margin-top:10px;
        display:flex;
    }

    #error-container ul{
        font-style:italic;
        list-style:none;
        margin-left:-25px;
        margin-top:-5px;
        margin-bottom: 18px;
    }
