#review-log>button {
    color: teal;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#review-log>button:hover {
    color:rgb(188, 220, 124);
    cursor: pointer;
    background-color: white;
}

#review-sign>button {
    color: teal;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#review-sign>button:hover {
    color:rgb(188, 220, 124);
    cursor: pointer;
    background-color: white;
}

/* #big-review-container {
margin:aut0;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
width:100%;
gap:10px;
} */

#rev-container {
    min-width:250px;
width:60%;
}




#write-review-button {
    cursor: pointer;
    background-color: teal;
    border-radius: 4px;
    color: white;
    border: transparent;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;

    transition: .5s;
}

#write-review-button:hover {
    color: teal;
    background-color: rgb(188, 220, 124)
}

#write-container {
    margin-left: -5px;
    margin-top: -18px;
    margin-bottom: 10px;
}

#business-info h4 {
    margin-bottom: 4px;
    margin-top:0px;;
}

#website-link {
    color: teal;
    font-weight: 500;
    margin-left: -5px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

#website-link:hover {
    color:rgb(188, 220, 124);
}

    #edit-delete-bus-buttons{
        display:flex;
        justify-content: center;
    }

.link-div a:hover {
    color:rgb(188, 220, 124);
}


@media (min-width: 1000px) {
    #rev-container {
        width:65%;
        }


}



@media (min-width: 900px) and (max-width: 999px) {
    #rev-container {
        width:63%;
        }


}



@media (max-width: 800px) {
    #rev-container {
        width:100%;
        }


}
