#edit-businessform>h4 {
    font-size: 13px;


}


#edit-businessform {
    margin-top: -15px;
    padding-right: 12px;

}

.bus-edit {
    background-color: rgb(188, 220, 124, .4);
    border: none;
    padding: 7px;
    border-radius: 4px;
    color: rgba(45, 46, 47, 1);


}

.bus-edit:focus {
    background-color: rgb(188, 220, 124, .7);
    outline: solid 2px rgba(0, 128, 128, .8);

}

#bus-title {
    width: 100%;
}

#bus-address {
    width: 100%;
    margin-bottom: 4px;
}

#bus-city {
    width: 27%;
    margin-bottom: 4px;
    margin-right: 4px;
}

#bus-state {
    width: 45%;
    margin-bottom: 4px;
    margin-right: 4px;
}

#bus-zipcode {
    width: 20%;
    margin-bottom: 4px;
    margin-right: 4px;
}

#bus-edit-span {
    display: flex;
    width: 108%;
    justify-content: space-evenly;

}

#bus-phonenumber {
    width: 100%;

}

#bus-website {
    width: 100%;

}

#bus-description {
    width: 100%;
    height: 180px;
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    resize: none;
    margin-bottom:10px;
}

#bus-edit-buttons{
    display:flex;
    justify-content: center;
margin-bottom: -15px;
}

#edit-bus-container h3 {
margin-top:-15px;
border-bottom:2px solid rgb(188, 220, 124);
padding-bottom:5px;
margin-bottom:25px;

}

#edit-bus-container{
    outline:2px solid teal;
    margin:-15px;
    padding:20px;
    padding-top:30px;
    padding-bottom:30px;
    border-radius: 8px;
}
