.sort-nav-div{

display: flex;
justify-content: center;
align-items: center;
}
.sort-nav-but{
width:120px;
height:25px;
margin-left:18px;
font-weight: 500;
}

.sort-nav-but:focus{
    color: teal;
    background-color: rgb(188, 220, 124, .5)
}
.sort-nav-but:hover{
    color: teal;
    background-color: rgb(188, 220, 124);
}
