#addbus-form-container {
    border-radius: 4px;
    width: 450px;
    min-height: 200px;
    padding: 20px;

}

#addbus-header {
    border-bottom: 4px solid teal;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addbus-header h2 {
    font-family: Arial Rounded MT Bold;
}

#addbus-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -10px;

}

#addbus-form * {
    margin: 3px;
    font-weight:450;
}

#addbus-form button {
    margin: 5px;
    width: 160px;
    height: 35px
}

.addbus-input {
    margin: 10px;
    background-color: rgb(188, 220, 124, .4);
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: rgba(45, 46, 47, 1);


}

.addbus-input:focus {
    background-color: rgb(188, 220, 124, .7);
    outline: solid 2px rgba(0, 128, 128, .4);

}

#addbus-input-container {
    display: flex;
    flex-direction: column;

}


#addbus-btn-container {
    margin-top: 10px;
    display: flex;
}

#error-container ul {
    font-style: italic;
    list-style: none;
    margin-left: -25px;
    margin-top: -5px;
    margin-bottom: 18px;
}

#bus-add-span {
    margin-top:0px;
    margin-bottom:0px;
    display: flex;
    justify-content: space-evenly;
}
 .single {
    width:350px;
 }

 #add-zipcode{
    width:80px;
 }

 #add-city{
    margin-left:13px;
    width:125px;
 }

 #add-description {

    height:100px;
    color: rgba(45, 46, 47, 1);
    font-size: 10pt;
font-weight:420;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    resize: none;
 }
