/* TODO Add site wide styles */


body {
    margin: 0;
    color: rgba(45, 46, 47, 1);
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.body-container{
min-width: 200px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 200px;
}

#notfound a{
    color:teal;
}
#notfound a:hover{
    color:rgb(188, 220, 124);
}

.body-content{
width:100%;
margin: auto;

max-width: 1100px;
}

.contact-link:hover{
    color:rgb(188, 220, 124);
}
