.single-review {
    border-radius: 8px;
    padding: 20px;
    border: 1px solid rgba(188, 220, 124, .3);
    margin-top: 20px;
}

.single-star-div {
margin-left:-6px;
}

.rev-img-container{
    display:flex;
    flex-direction: row;

}

.rev-img{
    max-height:150px;
    max-width:150px;
    overflow: hidden;
border-radius: 8px;
    margin:15px;
}

.rev-img img{
    max-width:100%;
    max-width:100%;
    transform: scale(2);
}
