.single-review {
    border-radius: 8px;
    padding: 20px;
    border: 2px solid rgba(188, 220, 124, .3);
    margin-top: 20px;
}

.single-star-div {
    margin-left: -6px;
}

.rev-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.rev-img {
    height: 140px;
    width: 140px;
    overflow: hidden;
    border-radius: 8px;
    margin: 15px;
}

.image-container button {
    height: 150px;
    width: 150px;
    margin:0px;
    padding:0px;
}

.actual-image {
    width: 100%;
height:100%;
transform: scale(1.3);
object-fit: cover;

}

.user-date-container {
    display: flex;
    justify-content: space-between;
}

.rev-name {
    font-weight: bold;
    ;
}

.rev-date {
    font-style: italic;
}
